@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1,h2,h3{
    font-weight: bold;
    line-height: 2.5rem;
}

p{
    font-family: 'poppins-regular', sans-serif;
    line-height: 1.7rem;
    color: #303030;
}

html{
    font-family: 'Poppins', sans-serif;
}


.row{
    margin-bottom: 0;
}

.header{
    padding: 0 0 3.5rem 0;
}

.header-text{

    
    padding: 3.5rem;
    height: auto;
    font-weight: bold;
}


.banner-img{
    background: url("https://github.com/odafeaggreh/7ty9/blob/main/assets/images/man-in-taxi.jpg");
    background-size: cover;
    background-position: center;
    min-height: 800px;
}


 @media screen and (max-width: 670px){
    .banner-img{
      min-height: 300px;
    }
} 


.driver-cta{
    padding: 1rem;
}

.driver-cta > h3{
    margin: auto;
    font-weight: bold;
}


.driver-cta > button{
    font-weight: bold;
    border-radius: 25px;
}

.product-discovery{
    margin-top: 50px;
}

.content-item{
    padding: 40px !important;
}


@media screen and (max-width: 670px){
    .tia{
        padding: 0;
    }
}


.contact-container{
    margin-bottom: 0 !important;
}


#contactUs > div > input{
    border-color: white;
}
